
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}

#content{


}

.price{
	color:green;
	font-family: verdana;
	font-weight: bold;
}

.product_title{
	margin-bottom: -5px;
	font-family: verdana;
	color:steel;
}

.date{
	font-family: verdana;
}

.content{
	width:50%;

}

.ui-page img{
	width: 300px;
}

.ui-page {
	background: #eee !important;
	overflow: none important!
	min-height:3000px;
}

#productList{
	text-align: center;;
}

img {
	max-height: 250px;
	max-width: 250px
}

div[data-role="content"],[data-role=content] {
	overflow: none important!
	min-height:3000px;
}